
.hideElem{
    display: none;
}
.scoreShow{
    float: right;
}
label{
    width: 100%;
}
.userRow{
    padding-top: 50px;
}
.jumbotron{
    background-color: lightblue !important;
}



.list {
	list-style: none outside none;
	width: 100%;
}

.item {
	width: 100%;

	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;


	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	cursor: move;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}nimation: spin 2s infinite linear;
}
/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}



h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.clear {
  clear: both;
}
